/* 
  color
  background: black
  electron-navy: #2f3241
  electron-sky: #74b1be
  文字色: white
  ボタン: #D9D9D9
  ボタン-hover: #e9e6e6
*/

/* 画面テーマ */
body {
  background-color: black;
  color: white;
}

/* 入力系 */
input,
select,
textarea {
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #2f3241;
  height: 25px;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  /* display: none; */
  background-color: #D9D9D9;
  color: #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
}

button {
  border-radius: 5px;
  border: none;
  color: black;
  background-color: #D9D9D9;
  height: 23px;
  cursor: pointer;
}

button:hover {
  background-color: #e9e6e6;
}

/* 各ボタンの設定 */

/* 日付 */
.date {
  width: 120px;
  margin-right: 5px;
}

/* 時間 */
.time {
  width: 65px;
}

/* 課題内容 */
.work {
  width: 200px;
  margin-right: 15px;
}

/* 作成、クリアボタン */
.finButton {
  width: 60px;
  margin: 20px;
}

/* フォーム増減ボタン */
.formButton {
  width: 40px;
  margin: 10px;
}

/* 閉じるボタン */
.svg-inline--fa {
  height: 2em;
  color: #D9D9D9;
}
.svg-inline--fa:hover {
  color: #e9e6e6;
}
button.icon {
  border: none;
  background-color: transparent;
  margin: 1em;
}

/* 区切り線 */
.line {
  border-bottom: 1px solid #B1B1B1;
  height: 1px;
  width: 400px;
}